apiVersion: v1
kind: Service
metadata:
  name: nodejs-app-service
  namespace: production
  labels:
    app: nodejs-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: nodejs-app

